* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.text_container {
  display: flex;
  justify-content: center;

  margin-bottom: 5rem;
}
.first_text {
  display: flex;
  margin: 7rem 10rem 9rem 0;
}
.title1 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
  color: #000000;
  margin-left: 0;
}
.second_text {
  display: flex;
  flex-direction: column;
  margin: 7rem 1rem 9rem 0;
}
.title2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
}
.info {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  margin-top: 10px;
  height: 2rem;
  width: 25rem;
}
.image_group {
  max-width: 90vh;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  column-gap: 6rem;
  row-gap: 9rem;
}
.teammate_bio {
  position: relative;

}
.img_box {
  position: relative;
}
.img {
  width: 238px;
  height: 347px;
  transition: all 0.1s;
}
.img:hover {
  transform: scale(1.03);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.job_profile {
  position: absolute;
  top: 2rem;
  left: 14rem;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  transform: rotate(90deg);
}
.full_name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  padding-top: 1rem;
}
.copyright {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #a9a9a9;
  text-align: center;
}
.teammate_bio:nth-child(odd) {
  bottom: 3rem;
}
.footer-text {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .text_container {
    display: flex;
    justify-content: center;
    margin-bottom: 9rem;
  }
  .first_text {
    display: flex;
    margin: 5rem 5rem 5rem 7rem;
  }
  .second_text {
    display: flex;
    margin: 5rem 1rem 5rem 7rem;
  }
  .img {
    position: relative;
    width: 208px;
    height: 317px;
  }
  .footer-text {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }
  .middle_styling {
    bottom: 8px;
  }
  .info {
    margin-top: 10px;
  }
  .job_profile {
    top: 1.2rem;
    left: 11rem;
    width: 5rem;
    height: 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .text_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 9rem;
  }
  .first_text {
    display: flex;
    margin: 5rem 5rem 3rem 1rem;
  }
  .second_text {
    display: flex;
    margin: 2rem 1rem 5rem 1rem;
  }
  .image_group {
    max-width: 90vh;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    column-gap: 6rem;
    row-gap: 9rem;
    margin-left: 1rem;
  }
  .img {
    position: relative;
    width: 178px;
    height: 277px;
  }
  .footer-text {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }
  .middle_styling {
    bottom: 8px;
  }
  .info {
    margin-top: 10px;
  }
  .job_profile {
    top: 1.2rem;
    left: 9rem;
    width: 5rem;
    height: 3rem;
  }
}
